#h1{
    color: #5A72A0;
    border-color: #006600 ;
    border-style: solid;
    border-width: 1px;
    border-left: 5px solid #006600 ;
    padding-left: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;


}
#h4{
    
    border-bottom: solid;
    border-width: 3px;
    border-color: #006600 ;
    width: fit-content;
}
#h2{
    color:#5A72A0 ;
    border-top-left-radius: 3px;
    border-top:  1px solid #004080;
    border-bottom: dotted #006600 ;
    border-left: 3px solid #006600 ;
    background-color: lightgray;
    padding-left: 5px;
    font-family: 'Segoe UI'  'Open Sans' 'Helvetica Neue' sans-serif;
    letter-spacing: 3px;
}
#containerOfProduct
{
    background-color: #83B4FF;

}
.products{
    width: 200px;
    height: 90px;
    background-color: #FDFFE2;
    text-align: center;
    border-radius: 50%/70%;
}

.inputs{
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: 1%;
    margin-left: 20%;
    border: solid #006600; 
    border-right: solid #1A2130; 
    border-top: hidden;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#button{
    background-image: linear-gradient(to right, #83B4FF, #FDFFE2);
    width: 50%;
    display: block;
    margin-left: 20%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    font-family:  Impact , monospace ;
    
}