.green{
    color: green;
    font-weight: bolder;
    font-size: 30px;
}
.border{
    border-color: red ;
    border-style:groove;
    border-width: 3px;
    /* another way  */
    border: red 3px solid;
    border-radius: 50px;
}

.title{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img {
    
    border: blueviolet 5px solid;
}
.card{
    border: blueviolet 5px solid;
    width: 700px;
    height: 500px;
    /* border-radius: 50px; */
    text-align: right;
    text-align: left;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom: 10px black dotted;
}
/* defult valuses */
#defult{
    /* measuring units */
    width: 300px;
    width: 10cm;
    width: 10mm;

    width: 50%;
    width: 50vw ;
    height: 50vh ;

    background-color:aquamarine;
}
.child{
    background-color: blue;
    width: 50%;
    height: 50%;
}