#overflow{
    background-color: aquamarine;
    width: 50%;
    height: 100px;
    overflow:auto ;

}
.inheritance
{
    background-color:bisque ;
    border: 3px gray solid;
    padding: 10px;
}
.inheritance p
{
    padding: inherit;
    border: inherit;
}
.important 
{
    color: blueviolet !important; 

}

.important
{
    color: brown;

}
.item{
    width: 200px;
    height: 100px;
    background-color: cadetblue;
        /* transition */
        /* transition-delay: 1s;
     */
     transition-duration: 5s;
     transition-timing-function: ease-in-out;
     transition: 3s 1s ease-in;
     /* duration  delay function */
     /* transform */

     transform-origin: bottom right;
     transform: rotate(45deg);
     /* transform: rotateX(90deg); */
     /* transform: rotateY(180deg); */ 

     /* transform: scaleY(2);
      */
      /* transform: skewY(45deg); */
      /* transform: translate(200px,30px); */

}
/* .item:hover
{
   
    background-color: burlywood;
    width: 100%;
    cursor: pointer;


} */

.item2
{
    width: 200px;
    height: 100px;
    background-color: brown;
    transition: 3s 0s;
}
.item2:hover{
    background-color: chartreuse;
    /* transform: rotate(360deg);
    transform-origin: bottom right; */
    transform: skew(45deg);
}




