body{
    background-color: rgba(0, 0, 255, 0.096);
}
.title{
    color:blue;
    margin: auto;
    width: fit-content;
}
.container{
    background-color: white;
    width: 50%;
    margin: auto;
    text-align: center;
    overflow:auto;
}
.content{
    background-color: blueviolet;
    text-align: center;
}
.par1{
    margin: 30px 0px ;
}
input{
    width: 90%;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 5px;
    border:1px solid grey
}
.login{
    width:88%;
    background-color: blue;
    color:white;
    height: 35px;;
    border: none;
    border-radius: 5px;
}
a{
    color:rgba(0, 0, 255, 0.758);
    margin: 20px 0px;
    display: block;
}
.signup{
    background-color: green;
    color:wheat;
    width:60%;
    height:35px;
    border: none;
    border-radius: 5px;
}
.one{
    background-color: aqua;
}
.two{
    background-color: red;
}
.one , .two {
    display: inline;
}

.divone{
    background-color: aqua;
    width:24%
}
.divtwo{
    background-color: red;
    width:24%
}
.div{
    display: inline-block;
}
/* p,h2{
    display: inline;
} */