input,
textarea {
    width: 98%;
    margin: 7px;
    height: 37px;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.411)
}

input:focus,
textarea:focus {
    outline: none;
}

#addProduct,
#editProduct {
    color: white;
    background-color: rgba(0, 0, 255, 0.909);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#editProduct{
    display: none;
}
#addProduct{
    display: block;
}
.products {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.product {
    border: 2px solid blue;
    width: 23%;
}

#pName {
    color: red
}

.updateBtn,
.deleteBtn {
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.deleteBtn {
    background-color: red;
    margin-left: 10px;
}

@media screen and (min-width:0px) and (max-width:600px) {
    .product {
        width: 100%;
    }
}

@media screen and (min-width:601px) and (max-width:900px) {
    .product {
        width: 48%;
    }
}