.text
{
    width: 400px;
    height: 50px;
    background-color: aqua;
    overflow: hidden;
    

    
}
.text p {
    white-space: nowrap;
    transition-duration: 8s;
}
.text:hover p {
    transform: translateX(-2000px);
}
.text:hover {
    background-color: bisque;
}
