p{
    display: block;
    width: 100px; /* not doing anything because it's inline */
    height: 100px;
    padding: 30px;
    margin: 30px;
}
.div{
    background-color: brown;
    /* margin-left: 50px;
    margin-top: 100px;
    padding: 20px; */
    width: 25%;
    /* display: inline-block; */
    /* border: 5px solid yellow;
    padding: 5px; */
    /* margin: 7px; */
    box-sizing: border-box;/* manage border and padding only */
    float: left;
}

.div2
{
    background-color: aquamarine;
   
}
.div3
{
    background-color: springgreen;
}
.div4
{
    background-color: darkcyan;
}
.clear
{
    clear: both;
}
/*  */
.backgroudImage
{
    background-color: antiquewhite;
    height: 200px;
    border: darkmagenta 5px solid ;
    margin-top: 200px;
    background-image: url(Assets/5.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 100px 0px ;
    background-attachment: fixed;

}
